<div class="baner-serction p-100">
  <div class="container-fluid no-space">
    <div class="row g-0">
      <div class="col-lg-7 col-12 no-space" style="background-image: url({{ section.settings.left_image |  image_url: width: 1920  }});     background-repeat: no-repeat;
    background-size: cover;">
</div>
      <div class="col-lg-5 col-12 banner-right-row no-space">
        <div class="baner-content wow zoomIn" data-wow-duration="600ms">
          <img
            src="{{ section.settings.baner_icon |  image_url: width: 600  }}"
            alt=""
            width=""
            height="">
          <h2 class="wow fadeInUp" data-wow-duration="700ms">{{ section.settings.title }}</h2>
          <p class="wow fadeInUp" data-wow-duration="800ms">{{ section.settings.description }}</p>
          <div class="
            wow
            fadeInUp" data-wow-duration="
            900ms">
            <a href="{{ section.settings.button_Link }}" class="read-more">{{ section.settings.button_text }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Banner Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "left_image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "baner_icon",
        "label": "Baneer Icon"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Few Reasons Why You Should Choose Us"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "In the 20 Years of experience in Exhibition Stall Design and Installation field. Know we are own startup and  offering you Exclusive Range of Exhibition Stall and  Stand Design in India, Poland, Germany and Europe."
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button Text",
        "default": "Read More"
      },
      {
        "type": "url",
        "id": "button_Link",
        "label": "Button Link"
      }
    ],
    "presets": [
      {
        "name": "Banner Section"
      }
    ]
  }
{% endschema %}