<div class="faq-section p-100 pb-100" style="background-color: {{ section.settings.section_color }};">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12 align-self-center">
        <div class="faq-content">
          <span class="wow fadeInUp" data-wow-duration="600ms">{{ section.settings.section_slug }}</span>
          <h2 class="wow fadeInUp" data-wow-duration="700ms">{{ section.settings.section_title }}</h2>
          <p class="wow fadeInUp" data-wow-duration="800ms">{{ section.settings.section_description }}</p>
          <div class="
            wow
            fadeInUp" data-wow-duration="
            900ms">
            <a href="{{ section.settings.section_button_url }}" class="read-more">{{ section.settings.section_button_text }}</a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="faq-wrap wow fadeInUp" data-wow-duration="1000ms">
          <div class="accordion" id="accordionExample">
            {% for block in section.blocks %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ forloop.index }}">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapse{{ forloop.index }}"
                    aria-expanded="{% if forloop.first %} true {% else %} false {% endif %}"
                    aria-controls="collapse{{ forloop.index }}">
                    {{ block.settings.question }}
                  </button>
                </h2>
                <div
                  id="collapse{{ forloop.index }}"
                  class="accordion-collapse collapse {% if forloop.first %} show {% endif %}"
                  aria-labelledby="heading{{ forloop.index }}"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    {{ block.settings.answer }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQ Section",
    "settings": [
      {
        "type": "text",
        "id": "section_slug",
        "label": "Section Slug",
        "default": "FAQ"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Frequently Asked Questions"
      },
      {
        "type": "text",
        "id": "section_description",
        "label": "Section Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis."
      },
      {
        "type": "text",
        "id": "section_button_text",
        "label": "Button Text",
        "default": "Contact Us"
      },
      {
        "type": "url",
        "id": "section_button_url",
        "label": "Button URL"
      },
      {
        "type": "color",
        "id": "section_color",
        "label": "Section Color",
        "default": "#3693d9"
      }
    ],
    "blocks": [
      {
        "name": "Add FAQ",
        "type": "block",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Do you provide vacancies worldwide?"
          },
          {
            "type": "text",
            "id": "answer",
            "label": "Answer",
            "default": "Donec bibendum arcu in suscipit lobortis. In malesuada, nunc eu tempus suscipit, purus diam feugiat dui, eu convallis dolor neque vitae elit. In at imperdiet mauris. Vivamus non dui gravida, congue odio quis, lacinia justo. Pellentesque ultrices orci ac lectus sagittis."
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Section",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}