<div class="faq-section p-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="section-title">
          <h2>{{ section.settings.section_title }}</h2>
          <p>{{ section.settings.section_description }}</p>
          <a href="{{ section.settings.section_button_url }}" class="read-more">{{ section.settings.section_button_text }}</a>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="faq-wrap">
          <div class="faq-active">
            {% for block in section.blocks %}
              <div class="faq-item wow fadeInUp" data-wow-duration="{{ forloop.index0 | plus: 1 }}000ms">
                <div class="faq-title">
                  <h2>{{ block.settings.question }}</h2>
                </div>
                <div class="faq-content">
                  <p>{{ block.settings.answer }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "FAQ Section",
    "settings": [
      {
        "type": "text",
        "id": "section_slug",
        "label": "Section Slug",
        "default": "FAQ"
      },
      {
        "type": "text",
        "id": "section_title",
        "label": "Section Title",
        "default": "Frequently Asked Questions"
      },
      {
        "type": "text",
        "id": "section_description",
        "label": "Section Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis."
      },
      {
        "type": "text",
        "id": "section_button_text",
        "label": "Button Text",
        "default": "Contact Us"
      },
      {
        "type": "url",
        "id": "section_button_url",
        "label": "Button URL"
      }
    ],
    "blocks": [
      {
        "name": "Add FAQ",
        "type": "block",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question",
            "default": "Do you provide vacancies worldwide?"
          },
          {
            "type": "text",
            "id": "answer",
            "label": "Answer",
            "default": "Donec bibendum arcu in suscipit lobortis. In malesuada, nunc eu tempus suscipit, purus diam feugiat dui, eu convallis dolor neque vitae elit. In at imperdiet mauris. Vivamus non dui gravida, congue odio quis, lacinia justo. Pellentesque ultrices orci ac lectus sagittis."
          }

        ]
      }
    ],
    "presets": [
      {
        "name": "FAQ Section",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}