<!-- testimonial-area start -->
<div class="testimonial-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="quote">
          <i class="fi ti-quote-left"></i>
        </div>
        <div class="testimonial-single-wrap">
          <div class="testimonial-active">
            <div class="item">
              <div class="testimonial-text">
                <h4>You are amazing! You worked so hard for Cady's wedding.</h4>
                <p>You are amazing! You worked so hard for Cady's wedding. You had every little                                                           
                                            detail under control you need to run my life!</p>
                <div class="testimonial-info">
                  <h5>David Warner - Founder</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-text">
                <h4>You are amazing! You worked so hard for Cady's wedding.</h4>
                <p>You are amazing! You worked so hard for Cady's wedding. You had every little                                                           
                                            detail under control you need to run my life!</p>
                <div class="testimonial-info">
                  <h5>Shivinder Sing - Founder</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-text">
                <h4>You are amazing! You worked so hard for Cady's wedding.</h4>
                <p>You are amazing! You worked so hard for Cady's wedding. You had every little                                                           
                                            detail under control you need to run my life!</p>
                <div class="testimonial-info">
                  <h5>Shivinder Sing - Founder</h5>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimonial-text">
                <h4>You are amazing! You worked so hard for Cady's wedding.</h4>
                <p>You are amazing! You worked so hard for Cady's wedding. You had every little                                                           
                                            detail under control you need to run my life!</p>
                <div class="testimonial-info">
                  <h5>Shivinder Sing - Founder</h5>
                </div>
              </div>
            </div>
          </div>
          <div class="testimonial-thumbnil-active">
            <div class="item">
              <div class="testimonial-thumbnil-img">
                <img
                  src="{{ 'img-1.jpg' | asset_url }}"
                  alt="tesimonial"
                  width="100%"
                  height="100%">
              </div>
            </div>
            <div class="item">
              <div class="testimonial-thumbnil-img">
                <img
                  src="{{ 'img-2.jpg' | asset_url }}"
                  alt="tesimonial"
                  width="100%"
                  height="100%">
              </div>
            </div>
            <div class="item">
              <div class="testimonial-thumbnil-img">
                <img
                  src="{{ 'img-3.jpg' | asset_url }}"
                  alt="tesimonial"
                  width="100%"
                  height="100%">
              </div>
            </div>
            <div class="item">
              <div class="testimonial-thumbnil-img">
                <img
                  src="{{ 'img-4.jpg' | asset_url }}"
                  alt="tesimonial"
                  width="100%"
                  height="100%">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="partner-wrap">
          <div class="partner-item">
            <img
              src="{{ '1.png' |  asset_url }}"
              width="100%"
              height="100%"
              alt="">
          </div>
          <div class="partner-item">
            <img
              src="{{ '2.png' |  asset_url }}"
              width="100%"
              height="100%"
              alt="">
          </div>
          <div class="partner-item">
            <img
              src="{{ '3.png' |  asset_url }}"
              width="100%"
              height="100%"
              alt="">
          </div>
          <div class="partner-item">
            <img
              src="{{ '4.png' |  asset_url }}"
              width="100%"
              height="100%"
              alt="">
          </div>
          <div class="partner-item">
            <img
              src="{{ '5.png' |  asset_url }}"
              width="100%"
              height="100%"
              alt="">
          </div>
          <div class="partner-item">
            <img
              src="{{ '6.png' |  asset_url }}"
              width="100%"
              height="100%"
              alt="">
          </div>
          <div class="partner-item">
            <img
              src="{{ '6.png' |  asset_url }}"
              width="100%"
              height="100%"
              alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial-area end -->