<!-- testimonial-area start -->
<div class="testimonial-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-12">
        <div class="quote">
          <i class="fi ti-quote-left"></i>
        </div>
        <div class="testimonial-single-wrap">
          <div class="testimonial-active">
            {% for block in section.blocks %}
              {% if block.type == "block" %}
                <div class="item">
                  <div class="testimonial-text">
                    <h4>{{ block.settings.title }}</h4>
                    <p>{{ block.settings.description }}</p>
                    <div class="testimonial-info">
                      <h5>{{ block.settings.designation }}</h5>
                    </div>
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>
          <div class="testimonial-thumbnil-active">
            {% for block in section.blocks %}
              {% if block.type == "block" %}
                <div class="item">
                  <div class="testimonial-thumbnil-img">
                    <img
                      src="{{ block.settings.background_image | image_url: width: 120 }}"
                      alt="tesimonial"
                      width="100%"
                      height="100%">
                  </div>
                </div>
              {% endif %}
            {% endfor %}

          </div>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1">
        <div class="partner-wrap">
          {% for block in section.blocks %}
            {% if block.type == "brand" %}
              <div class="partner-item">
                <img
                  src="{{ block.settings.brand_image | image_url: width: 100 }}"
                  width="100%"
                  height="100%"
                  alt="">
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- testimonial-area end -->


{% schema %}
  {
    "name": "Testimonail Section",
    "tag": "section",
    "settings": [],
    "blocks": [
      {
        "name": "Add Item",
        "type": "block",
        "settings": [
          {
            "type": "image_picker",
            "id": "background_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "You are amazing! You worked so hard for Cady's wedding."
          },
          {
            "type": "text",
            "id": "description",
            "label": "Description",
            "default": "You are amazing! You worked so hard for Cady's wedding. You had every little detail under control you need to run my life!"
          },
          {
            "type": "text",
            "id": "designation",
            "label": "Name & Designation",
            "default": "Shivinder Sing - Founder"
          }
        ]
      },
      {
        "type": "brand",
        "name": "Brand Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "brand_image",
            "label": "Brand Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonail Section",
        "blocks": [
          {
            "type": "block"
          }
        ]
      }
    ]
  }
{% endschema %}